In [37]:
import pandas as pd

In [38]:
nlp = '0002980'
collections = 'lwm'
root_dir = '/Volumes/WorkData/newspaper_data'
df = pd.read_csv(f'{root_dir}/{collections}-csv/{nlp}.csv')
df_metadata = pd.read_csv(f'{collections}-metadata/{nlp}_metadata.csv')

In [24]:
def add_context(df, df_metadata):
    df['month'] = df['date'].str[:7]
    df = df.merge(df_metadata, right_on='month',left_on='month', how='left')
    return df

In [25]:
df_merged = add_context(df, df_metadata)

In [26]:
df_merged.shape, df.shape

((23371, 34), (23371, 18))

In [21]:
df_merged.head()

,Unnamed: 0,article_headline,item_type,ocr_quality_mean,ocr_quality_sd,word_count,plain_text_file,date,newspaper_title,location,...,D-EST,S-POL,S-PRICE,DISTRICT,DISTRICT_PUB,COUNTY,D-PUB,E-LOC,E-ORG,E-PER
0,0002980/1903/0320/0002980_19030320_art0089_met...,NaN,ARTICLE,0.8530,0.2847,60,0002980_19030320_art0089.txt,1903-03-20,The Weekly Journal.,"Hartlepool, Cleveland, England",...,NaN,NaN,½ d,the hartlepools . — ( durham . ),the hartlepools,durham,Friday,NaN,NaN,W . H . Musgrave
1,0002980/1903/0320/0002980_19030320_art0129_met...,NaN,ARTICLE,NaN,NaN,0,0002980_19030320_art0129.txt,1903-03-20,The Weekly Journal.,"Hartlepool, Cleveland, England",...,NaN,NaN,½ d,the hartlepools . — ( durham . ),the hartlepools,durham,Friday,NaN,NaN,W . H . Musgrave
2,0002980/1903/0320/0002980_19030320_art0078_met...,DEFINE A BABY.,ARTICLE,0.7939,0.2273,119,0002980_19030320_art0078.txt,1903-03-20,The Weekly Journal.,"Hartlepool, Cleveland, England",...,NaN,NaN,½ d,the hartlepools . — ( durham . ),the hartlepools,durham,Friday,NaN,NaN,W . H . Musgrave
3,0002980/1903/0320/0002980_19030320_art0101_met...,ACCORIANG TO TIIE ADVT.,ARTICLE,0.8118,0.2423,680,0002980_19030320_art0101.txt,1903-03-20,The Weekly Journal.,"Hartlepool, Cleveland, England",...,NaN,NaN,½ d,the hartlepools . — ( durham . ),the hartlepools,durham,Friday,NaN,NaN,W . H . Musgrave
4,0002980/1903/0320/0002980_19030320_art0046_met...,SCRAPS OF SCUMS.,ARTICLE,0.8664,0.2151,1869,0002980_19030320_art0046.txt,1903-03-20,The Weekly Journal.,"Hartlepool, Cleveland, England",...,NaN,NaN,½ d,the hartlepools . — ( durham . ),the hartlepools,durham,Friday,NaN,NaN,W . H . Musgrave

In [ ]:
df_merged.to_csv